:root {
    --prim: #131c29;
    --sec: #ff8901;
    --text: #596573;
    --bgColor: #f4f4f6;
    --buttonColor: #213349;
    --headerFont: 'Oswald', sans-serif;
    --textFont: 'Open Sans Condensed', sans-serif;
}

/* generic */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
}

p, li {
    font-family: var(--textFont);
}

/* close generic */

/* header */

.top-header {
    padding: 10px 0;
    width: 100%;
    background-color: var(--prim);
}

.top-nav-item a {
    color: var(--text);
}

.main-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-img {
    max-width: 110%;
    height: auto;
}

@media (max-width: 768px) {
    .logo {
        text-align: center;
    }    
}

.main-nav-item {
    padding: 1px 2px;
    font-family: var(--headerFont);
    /* font-size: calc(10px + (26 - 10) * ((100vw - 300px) / (1600 / 300))); */
    background-color: var(--buttonColor);
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.main-nav-item:hover {
    background-color: var(--sec);
}

.main-nav-item a {
    color: var(--bgColor);
}

/* close header */

/* main */

.main {
    padding: 20px 0;
}

.content-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .content {
        margin: 40px 0;
    }
}

.content .subeader {
    color: var(--prim);
    font-family: var(--headerFont);
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 / 300)));
}

@media (max-width: 768px) {
    .content-img {
        display: block;
        margin: 20px auto;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .content .text {
        text-align: justify;
    }
}

.content-text {
    font-size: calc(14px + (22 - 16) * ((100vw - 300px) / (1600 / 300)));
}

.more {
    color: var(--bgColor);
    background-color: var(--buttonColor);
    transition: background-color 0.5s ease;
}

.more:hover {
    background-color: var(--sec);
}

/* close main */

/* footer */

.main-footer {
    padding: 20px 0;
    background: radial-gradient(
        at top right,
        #33597e, #0e1620
    );
}    

@media (max-width: 768px) {
    .footer-div {
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
}

.footer-div .sub-header {
    margin-bottom: 40px;
    color: var(--bgColor);
    font-family: var(--headerFont);
    /* font-size: calc(14px + (22 - 16) * ((100vw - 300px) / (1600 / 300))); */
}

.footer-btn {
    margin-top: 30px;
}

.date-div {
    margin-right: 0;
    width: 80px;
    height: 80px;
    border-radius: 5px; 
    /* float: left; */
}

.div1 {
    background: #be8442;
}

.div2 {
    background-color: #bc6142;
}

.div3 {
    background-color: #bd425e;
}


.date, .month {
    margin: 0;
    color: var(--bgColor);
    font-family: var(--headerFont);
    line-height: 1;
}

.date {
    font-size: calc(28px + (36 - 28) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 900;

}

.month {
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.service-list {
    padding-left: 15px;
    list-style-image: url(../media/cog.png);
}

.service-list-item a {
    color: var(--bgColor);
}

.opportunities-list {
    padding-left: 15px;
    list-style-image: url(../media/chat.png);
}

.opportunities-list h3 a {
    color: var(--bgColor);
}

.list-text {
    color: var(--text);
}

.news-list {
    list-style-type: none;
    padding-left: 0;
}

.news-list-item {
    margin-bottom: 30px;
}

.list-div-text h3, .list-div-text p {
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.list-div-text h3 a {
    color: var(--bgColor);
}

.colophon {
    background-color: var(--prim);
}

.colophon-text  {
    color: var(--text);
}

.scroll {
    margin: 0;
    padding: 0 0 40px 0;
}